# ------- TOKENS -------
BOT_TOKEN = ****
GEMINI_API_KEY=****
# ------- DB -------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_mama_bot_db
DB_USER=nova
DB_PASSWORD=****
# -------DB_FOR_TESTS -------
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=nova
TEST_DB_PASSWORD=*******
TEST_DB_NAME=test_mama_db
# ------- POOL -------
POOL_MIN_SIZE= 1
POOL_MAX_SIZE= 10
DEFAULT_COMMAND_TIMEOUT_SECONDS = 5.0
CONNECT_RETRY_ATTEMPTS= 3
CONNECT_RETRY_DELAY_SECONDS= 1
# ------- LOGS -------
LOG_LEVEL=DEBUG
LOG_FILE=logs/your_mama_bot_db.log
# ------- REDIS -------
REDIS_HOST=localhost
REDIS_PORT=6379
CONFIG_CACHE_TTL=3600
# ------- OPERATOR -------
PASSIVE_MODE_CHANCE = 20
ONLINE_MODE_REPLY_LIMIT = 10
ONLINE_MODE_USER_COOLDOWN_SECONDS = 45
ONLINE_MODE_BATCH_THRESHOLD = 3

# ------- SCHEDULER -------
# --- Фиксированные циклы ---
# Утренний цикл
MORNING_GATHERING_HOUR = 8
MORNING_GATHERING_MINUTE = 50
MORNING_ONLINE_DURATION = 10  # минуты
# Дневной цикл (обед)
DAY_GATHERING_HOUR = 13
DAY_GATHERING_MINUTE = 0
DAY_ONLINE_DURATION = 15  # минуты
# Вечерний цикл
EVENING_GATHERING_HOUR = 19
EVENING_GATHERING_MINUTE = 0
EVENING_ONLINE_DURATION = 20  # минуты
# --- Рандомные сессии ---
# Шансы запуска рандомной сессии (%)
RANDOM_DAY_CHANCE_PERCENT = 15
RANDOM_NIGHT_CHANCE_PERCENT = 10
# Длительности фаз для рандома
RANDOM_GATHERING_DURATION = 10  # минуты
RANDOM_ONLINE_DURATION_DAY = 10  # минуты
RANDOM_ONLINE_DURATION_NIGHT = 10  # минуты
# Время "чекпойнтов" для рандома
RANDOM_DAY_HOUR = 16
RANDOM_DAY_MINUTE = 0
RANDOM_NIGHT_HOUR = 23
RANDOM_NIGHT_MINUTE = 0
# --- Общие настройки ---
ONLINE_SESSION_DURATION_MINUTES = 20
# --- BrainService
SHORT_TERM_MEMORY_LIMIT = 30
SHORT_TERM_MEMORY_TTL = 3600
